# Salesforce DX configuration files.
.sfdx/

# IlluminatedCloud configuration files.
.idea/
IlluminatedCloud/
*.iml

# Visual Studio Code configuration files.
.vscode/

# A temp directory where build scripts convert
# source files to metadata format.
mdapi/