/*
Author: Doug Ayers
Website: https://douglascayers.com
GitHub: https://github.com/douglascayers-org/sfdx-mass-action-scheduler
License: BSD 3-Clause License
 */

/**
 * The lightning:combobox component when variant attribute
 * is set to 'label-hidden' then no longer sets 100% width
 * on the form control element. This ensures the comboboxes
 * always display as 100% of their container.
 */
.THIS lightning-combobox .slds-form-element__control {
    width: 100%;
}

/**
 * Make it more obvious that the user can
 * click to select an option from the picklist.
 */
.THIS lightning-combobox * {
    cursor: pointer;
}

/**
 * The lightning:dualListbox component default width
 * is 15rem for the source and target option lists.
 * When viewing the page when narrowed then the content
 * bleeds outside of the grid panel it is in.
 * This style reduces the width enough to not bleed.
 */
.THIS .slds-dueling-list__options {
    width: 12rem;
}

/**
 * W-5212157
 * https://salesforce.stackexchange.com/questions/220616/summer-18-lightning-input-variant-label-hidden-hides-the-label-but-occupies-th/221202#221202
 */
.THIS .label-hidden > label,
.THIS .label-hidden legend {
    display: none;
}

/**
 * The strike_wizard component applies this class
 * to the chevrons that are incomplete. To further
 * express to users they cannot jump ahead then
 * change mouse cursor on hover.
 */
.THIS .slds-is-incomplete * {
    cursor: not-allowed;
}

/**
 * Styling copied from Trailhead website.
 */
.THIS .keyword {
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    padding: 2px 4px;
}

/**
 * Renders newlines and whitespace indentation
 * similar to the <pre> tag but without the
 * ridiculous leading whitespace.
 */
.THIS code.block {
    color: #d14;
    white-space: pre-line;
    display: block;
}

/**
 * This CSS selector places the tag name after our class name
 * because the `class` attribute we put on <lightning:textarea>
 * is applied to the outer DOM element and not on the actual
 * `textarea` tag within the component. Therefore, our selector
 * needs to cascade to the `textarea` elements in the component.
 */
.THIS textarea[name="inputTargetApexScript"],
.THIS textarea[name="inputSourceSoqlQuery"] {
    height: 200px;
}

/*
BSD 3-Clause License

Copyright (c) 2017-2019, Doug Ayers, douglascayers.com
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/